<div class="container p-4" style="background-color: #ededed;;display: flex;justify-content: center;align-items: center;">
    <div class="">

        <div class="d-flex ">
            {{!-- <p> </p> --}}
            <p style="padding: 25px;;background-color: white;"> E-Mail : </p>
               <p style="padding: 25px;;background-color: white;"> {{data.email}} </p>
            {{!-- <a href="#" style="text-decoration: none;color: black;">Email : </a> <a href="#" style="text-decoration: none;color:black">{{data.email}}</a> --}}
        </div>

        <div class="d-flex ">
            {{!-- <p> </p> --}}
            <p style="padding: 25px;;background-color: white;"> Name : </p>
               <p style="padding: 25px;;background-color: white;"> {{data.name}} </p>
            {{!-- <a href="#" style="text-decoration: none;color: black;">Email : </a> <a href="#" style="text-decoration: none;color:black">{{data.email}}</a> --}}
        </div>

        {{!-- <div class="">
            <a href="#" style="text-decoration: none;color: black;">Password :</a> <a href="#" style="text-decoration: none;color:black"></a>
        </div> --}}
      
    </div>
</div>