<section>
  <div class="container-fluid align-as-center">
    <div class="box-shadow-forgot">
      <div class="top-section-forgot">
        <div>
          <h4>Security code</h4>
        </div>
      </div>

            {{#each response}}
          <div>
            <div>
                <a href="#" style="color: black;text-decoration:none">{{this.code}}</a>
            </div>
          </div>
            {{/each}}
          
    </div>
  </div>
  </div>
</section>