<div class="container" style="height: 183px;display: flex;justify-content: center;align-items: center;">
    <div class="">
        <div class="">
            <a href="#" style="text-decoration: none;color: black;">Name : </a> <a href="#" style="text-decoration: none;color:black">{{data.name}}</a>
        </div>

        <div class="">
            <a href="#" style="text-decoration: none;color: black;">Email : </a> <a href="#" style="text-decoration: none;color:black">{{data.email}}</a>
        </div>

        {{!-- <div class="">
            <a href="#" style="text-decoration: none;color: black;">Password :</a> <a href="#" style="text-decoration: none;color:black"></a>
        </div> --}}
      
    </div>
</div>