<section class="" style="margin-top: 1.5rem;">
  <img class="" style="width: 100%;height: fit-content;" src="https://www.needforgoodfoundation.com/wp-content/uploads/2021/08/ngo-1366x630.jpg" alt="">
</section>

<section class="mb-5" style="background-color: #f1f1f1;">

<div class="container" style="padding-top: 2rem;">
    <h2 style="" class="pb-5">Our Programms</h2>
  <div class="row">
    {{#if response}}
      {{#each response.data}}
    <div onclick="url('/getCollection/donation/{{this._id}}')" class="m-1" style="position: relative;">
      <img src="/category-images/{{this._id}}.jpg" style="height: 230px;width: 350px;" alt="">
      <h5 style="position: absolute;/* top: 26px; */bottom: 0px;color: rgb(43, 40, 40);font-weight: 700;width: 100%;text-align: center; text-shadow: 0px 1px black;background-color: white;
    padding: 10px;">{{this.name}}</h5>
    </div>
    {{/each}}
      {{else}}
      <div>
        <p class="loading" style="font-family: 'Avenir', sans-serif ;">Loading...</p>
      </div>
      {{/if}} 
  </div>
</div>
</section>

