
{{#if response}}

<div class="container">
    <h2>{{response.name}}</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe doloribus aliquam, dolores ducimus omnis, dolore necessitatibus possimus voluptate ipsa et itaque! Sequi deserunt, autem tempora consequatur officia praesentium vero veniam?</p>
    <img src="/category-images/{{response._id}}.jpg" alt="">
    <a href="">{{response.contact}}</a>
</div>
{{/if}}